# Student Performance Prediction

trying to make a model that predicts a student's score based on some features. 
dataset: https://archive.ics.uci.edu/dataset/320/student+performance

will (attempt to) do this without much assistance.

In [10]:
# importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Setting Up

In [21]:
# the set of features that i'll be working with
names = ['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'G1', 'G2', 'G3'] 

# reading the csv file + printing the first 5 examples
dataframe = pd.read_csv("student-por.csv", sep=";", usecols=names)
dataframe.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,0,11,11
1,17,1,1,1,2,0,5,3,3,1,1,3,9,11,11
2,15,1,1,1,2,0,4,3,2,2,3,3,12,13,12
3,15,4,2,1,3,0,3,2,2,1,1,5,14,14,14
4,16,3,3,1,2,0,4,3,2,1,2,5,11,13,13

In [33]:
# dataframe to numpy array
data = np.array(dataframe)

# separating the features (X) and targets (y)
X = data[:, 0:-1]
y = data[:, -1]